@keyframes headerbgtransition {
    0% {background-color: #000000; text-shadow: 0px 0px 2px #000000;}
    10% {}
    20% {background-color: #440044; text-shadow: 0px 5px 3px #000000;}
    30% {}
    60% {background-color: #6495ED; text-shadow: 5px 5px 3px #000000;}
    80% {}
    100% {background-color: #000000; text-shadow: 0px 0px 2px #000000;}
}
body>div#header {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Noto Sans JP';
    font-size: 25;
    font-weight: 600;
    animation: headerbgtransition 15s ease-in-out infinite;
    flex-wrap: wrap;
    margin: 0;
    color: white;
    height: 50px;
    padding-bottom: 5px;
}
body>div#header>div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
}

span#comingsoon {
    display: block;
    font-size: 25;
}